svg{
    cursor: pointer;
}

.button{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    background-color: #e63946ff;
    color: #fff;
    padding: 10px 10px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}
.button:hover{
    transform: scale(1.04, 1);
    background-color: rgb(216, 10, 27);
    text-decoration: none;
}

.input{
    font-size: 16px;
    padding: 10px 10px 3px 5px;
    /* display: block; */
    /* width: 300px; */
    border: none;
    border-bottom: 1px solid #757575;
}